
.contenedor{
    background-color: black;
    overflow: hidden;
}

.contenedor-titulo{
    background-color: #6D2932;
    width: 115rem;
    height: 55rem;
    margin-top: 2rem;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "completar-datos deposito-saldo"
    "apis inversiones";
}

/*CAJA DATOS PERSONALES*/
.completar-datos{
    grid-area: completar-datos;
    
}
.deposito-saldo{
    grid-area: deposito-saldo;


    
}
.inversiones{
    grid-area: inversiones;
    margin-top: -10rem;
    margin-right: 2rem;


    
}


.apis{
    grid-area: apis;
    width: 10rem;
    height: 10rem;
    margin-top: -9rem;
    display: flex;
    flex-direction:column ;
    


      
}
/*CAJA DATOS PERSONALES*/

/*CAJA DEPOSITO EXTRACCION*/


.h2{
    display: inline;
    font-size: 3rem;
}

/*CAJA DEPOSITO EXTRACCION*/

/*CAJA INVERSIONES*/


.caja-inversiones{
    display: inline;
    font-size: 15px;
    color: white;
}

.titulo-inversiones{
    margin-left: 15px;
    font-size: 55px;
    color: black;
}
.boton-inversiones{
    
    background-color: black;
    height: 30px;
    color: white;
}

/*CAJA INVERSIONES*/

.mi-clase-popup {
    background-color: #800000; /* Fondo color bordó */
    color: #000; /* Texto en color negro */
  }


  /*CAJA CONSUMO DE API*/
.promocion{
    margin-left: 10rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: 7rem;
    width: 18rem;
    background-color: white;
    text-align: center;
    
}

.contenedor-promocion{
    display: flex;
    flex-direction: row;
}

  .imagen-api{
    object-fit: contain;
    margin-left: 5rem;
    width: 25rem;
    height: 25rem;
  }